/* SoundsLikeIt.css */

.SoundsLikeItProject {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.SoundsLikeItProject h2 {
  font-size: calc(2vw + 2vh + 20px);
  color: #ffc400;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.SoundsLikeItProject p {
  font-size: calc(0.8vw + 0.8vh + 8px);
  color: #515253;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

#output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sounds-like-it-manager {
  position: relative;
  width: 40%;
}

#sounds-like-it-img {
  position: sticky;
  top: 0;
  left: 0;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

#controls-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#overlay-full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#overlay-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#score-text {
  width: fit-content;
  color: #ff9a3b;
  font-size: calc(14px + 1.5vw + 1.5vh);
  font-weight: bold;
}

#score-text-backing {
  background-color: #ecececec;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

#high-score-text {
  width: fit-content;
  color: #ff9a3b;
  font-size: calc(14px + 1.5vw + 1.5vh);
  font-weight: bold;
}

#high-score-text-backing {
  background-color: #ecececbe;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 8px;
}

#overlay-mid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-button {
  padding: 5% 5%;
  border-radius: 8px;
  width: fit-content;
  background-color: #e94a7abe;
  color: #ffffff;
  border: none;
  font-family: Arial, sans-serif;
  font-size: calc(10px + 1vw + 1vh);
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#start-button:hover {
  background-color: #be365fbe;
}

#start-button:active {
  transform: scale(0.95);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

#overlay-mid .countdown {
  color: #ffdb0df5;
  font-size: calc(10vw + 10vh + 30px);
  font-weight: bold;
  text-align: center;
}

#overlay-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sound-dropdown {
  background-color: #43b0f8e8;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#sound-select {
  height: 100%;
  width: 100%;
  font-weight: bold;
  background-color: #00000000;
  color: #ffffff;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: calc(10px + 0.3vw + 0.3vh);
  padding: 5% 10%;
}

.sound-item {
  position: relative;
  font-weight: bold;
  background-color: #43b0f8;
  color: #ffffff;
  width: fit-content;
}

#output-container canvas {
  width: 30vw;
  height: 10vh;
  margin: 1%;
}

#mic-result {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  color: #0077ff;
  font-size: calc(1vw + 1vh + 10px);
}
