/* index.css */

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Goldman", sans-serif;
  font-weight: normal;
}

/* Common Background Elements */

.circular-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #002725ea, #00000000);
  z-index: -1;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Welcome Screen */

#welcome-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.welcome-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-shadow: 0 0 1rem rgba(2, 247, 255, 0.5);
  animation: welcome-anim 5s ease-in-out;
  opacity: 1;
  font-family: "Baumans", sans-serif;
}

@keyframes welcome-anim {
  90% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#top_text {
  font-size: 10vmax;
  font-weight: bold;
}

#mid_text {
  font-size: 5vmax;
  margin-bottom: 1rem;
}

#bot_text {
  font-size: 6vmax;
  font-weight: bold;
}

.welcome-progress-bar {
  width: 20%;
  height: 2px;
  background-color: #0f6672e3;
  overflow: hidden;
  margin-top: 3%;
}

.welcome-progress {
  width: 0%;
  height: 100%;
  background-color: #ddebebef;
  animation: welcome-progress 4.5s linear forwards;
}

@keyframes welcome-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Main Screen */

#main-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-circular-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #002725ea, #ffffff00);
  z-index: -1;
}

.main-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#main-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-title {
  font-size: calc(3vw + 3vh + 20px);
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  padding: 0.2em;
  color: #FFFFFF;
  text-shadow: 0 0 0.3em rgba(2, 247, 255, 0.5);
  background-image: radial-gradient(circle, #002725f3, #00000000);
  /*white-space: nowrap;*/
  height: 100%;
  animation: animMainTitle 1.5s ease-in-out forwards;
}

@keyframes animMainTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#tiles-container {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 4-column grid */
  grid-auto-rows: minmax(0px, auto);
  gap: 4%;
  padding: 4%;
  overflow-y: auto;
  animation: animTilesContainer 1s ease-in-out forwards;
}

@keyframes animTilesContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 9%;
  overflow: hidden;
  background-color: rgba(48, 48, 48, 0.822);
  animation: animTile 1s ease-in-out forwards;
  transform-origin: center;
  transform-style: preserve-3d;
  opacity: 0;
}

@keyframes animTile {
  0% {
    transform: translateZ(-1000px) rotateX(80deg) rotateY(80deg) scale(0.1);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) rotateX(0) rotateY(0) scale(1);
    opacity: 1;
  }
}

.tile a {
  text-decoration: none;
}

.tile-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.tile-name {
  text-align: center;
  color: #ffffff;
  font-family: "Share Tech", sans-serif;
  font-weight: bold;
  font-size: calc(1.2vw + 5px);
  padding: 3%;
  background-color: rgba(0, 46, 48, 0.322); 
  text-shadow: 0 0 1rem rgba(2, 247, 255, 0.2);
  white-space: nowrap;
}