/* HandLandmarkerStyles.css */

.HandLandmarkerProject {
  margin: 2em;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HandLandmarkerProject .project-title {
  font-size: calc(2vw + 2vh + 20px);
  color: #66b918;
  font-weight: bold;
  text-align: center;
}

.HandLandmarkerProject h1 {
  font-size: calc(1.5vw + 1.5vh + 12px);
  color: #447e0e;
  text-align: center;
}

.HandLandmarkerProject h2 {
  font-size: calc(0.8vw + 0.8vh + 10px);
  color: #b64124;
}

.HandLandmarkerProject p {
  font-size: calc(0.5vw + 0.5vh + 8px);
  color: #c5c5c5;
  margin: 8px;
}

.HandLandmarkerProject .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vh * (100vw / 100vh));
}

.HandLandmarkerProject .detector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#videoCam {
  position: sticky;
}

.output_canvas {
  position: absolute;
  border: '1px solid black';
  width: 640px;
  height: 480px;
  top: 0;
  left: 0;
}