/* HandLandmarkerStyles.css */

.HandLandmarkerProject {
  margin: 2em;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HandLandmarkerProject h1 {
  font-size: calc(1.5vw + 1.5vh + 12px);
  color: #0e7e4a;
  text-align: center;
}

.HandLandmarkerProject h2 {
  font-size: calc(0.8vw + 0.8vh + 10px);
  color: #b43f9b;
}

.HandLandmarkerProject p {
  font-size: calc(0.5vw + 0.5vh + 8px);
  color: #515253;
  margin: 8px;
}

.HandLandmarkerProject .project-title {
  font-size: calc(2vw + 2vh + 20px);
  color: #0e7e4a;
  font-weight: bold;
  text-align: center;
}

.HandLandmarkerProject .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vh * (100vw / 100vh));
}

.HandLandmarkerProject .detector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
