#detector-container {
  margin: 20px;
}

#mic-start-button {
  margin: 20px;
  align-self: flex-start;
  padding: 12px 24px;
  border-radius: 8px;
  width: fit-content;
  /*margin-right: 20px;*/
  background-color: #39ad29;
  color: #ffffff;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#mic-start-button:hover {
  background-color: #067e10;
}

#mic-start-button:active {
  transform: scale(0.95);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

#audioResult {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #007f8b;
  color: #fff;
  z-index: 2;
  font-size: calc(8px + 1.2vw);
}

/* table style */

table {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #12b5cb;
  color: white;
}